<tr id="user_row_<%= user.id%>">
  <td><%= user.name%></td>
  <td><%= user.email%></td>
  <td><%= user.city%></td>
  <td><%= user.state%></td>
  <td><%= user.country%></td>
  <td><%= user.phone%></td>
  <td>
    <%= link_to "View", user_path(user), class: 'btn btn-info'%>
    <%= link_to "Edit", edit_user_path(user), class: 'btn btn-success'%>
    <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'%>
  </td>
</tr>
