<div class="col-lg-10 mx-auto mt-5">
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <div class="text-center mb-3">Search developers across the world!</div>
      <%= search_form_for @q, url: root_path do |f| %>
        <div class="input-group mb-3">
          <%= f.search_field :country_or_city_cont, class: "form-control", placeholder: "Search by country or city" %>

          <%= f.submit "Search", class: "btn btn-primary"%>
          <%# <input type="text" class="form-control" placeholder="Search by country or city" aria-label="Search by country or city" aria-describedby="button-addon">
        <button type="button" id="button-addon" class="btn btn-primary">Search</button> %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <% @users.each do |user|%>
      <div class="col-lg-3 b-3 mt-3">
        <div class="card text-center shadow" style="min-height: 400px;">
          <div class="card-body">
            <%= image_tag "user_avatar.png", style: "width: 150px; border-radius: 50%; border: 2px solid #53e9fu;" %>
            <div class="user-info">
              <h5><%= user.full_name%></h5>
              <p class="lead"><%= user.profile_title%></p>
              <small class="text-primary"><%= user.country%></small><br>
              <%#= link_to "View Profile", "/member/#{user.id}", class: "btn btn-primary mt-3" %>
              <%= link_to "View Profile", member_path(user.id), class: "btn btn-primary mt-3" %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
